


<html>

<head>
    <title>Stock Corporate </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Invest project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")



   
    <script src="~/Scripts/sweetalert.js"></script>
    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
</head>

<body>
   
            <!-- header -->
            @*<header>*@
            @*<div class="container">*@
            <!-- nav -->





