<div class="banner layer" id="home">
    <div class="container">
        <div class="banner-text">
            <div class="slider-info">
                <div class="agileinfo-logo">
                    <h3>
                        Investment management
                    </h3>
                </div>
                <h3 class="txt-w3_agile"> Transform Your Dreams into Reality</h3>

            </div>
        </div>
    </div>
</div>