
@{
    ViewBag.Title = "PassChanged";
}

<h1>@TempData["passwordChanged"]</h1>
@*<div>
    @Html.ActionLink("Go to Login", "Login", "LoginAndLogout", new { @class = "btn btn-danger" }, null)
</div>*@

