
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessfulReset</title>
</head>
<body>
    <div>
        <h1>Successful Reset</h1>
        <br />
        @Html.ActionLink("Go to Login", "Login", "LoginAndLogout", new { @class = "btn btn-danger" }, null)
    </div>
</body>
</html>
